@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}
.material-icons,
.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

:root {
  --blue: royalblue;
  --white: #ffe;
  color-scheme: light;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Arial, Helvetica;
  font-size: 16px;
  scroll-behavior: smooth;
  color: CanvasText;
}

html,
body,
main {
  background: Canvas;
  height: 100%;
  min-height: 100%;
}

.root {
  display: flex;
  flex-flow: column;
  overflow: auto;
  gap: 2rem;
}
.root header {
  grid-area: header;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.root header a {
  text-decoration: none;
  font-size: 0.85rem;
}
.root header .brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.root header .brand figure {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.root header .brand figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.root header nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.root header nav .burger-btn {
  cursor: pointer;
  display: none;
}
.root header nav .menu {
  display: flex;
  gap: 1rem;
  flex-flow: row;
  justify-content: flex-end;
}
.root header nav .menu .close {
  display: none;
  padding: 0.5rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  z-index: 110;
}
.root header nav .menu .options {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.root header nav .menu .options .signin {
  margin-left: 1.5rem;
}
.root header nav .menu .options .signup {
  font-size: 0.75rem;
  background: var(--blue);
  padding: 0.75rem 1rem;
  border-radius: 4rem;
  color: var(--white);
}
.root .content {
  grid-area: content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.root .content > section {
  height: 100vh;
}
.root .content .hero {
  width: 100%;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
}
.root .content .hero-data {
  max-width: 800px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  gap: 1rem;
}
.root .content .hero-data-title {
  font-size: clamp(2rem, 2vw, 4rem);
  font-weight: bold;
}
.root .content .hero-data-title span {
  font-weight: bold;
  font-size: clamp(2rem, 2vw, 4rem);
  color: var(--blue);
}
.root .content .hero-data-description {
  line-height: 1.75rem;
}
.root .content .hero-data .signup-form {
  display: flex;
  width: min-content;
}
.root .content .hero-data .signup-form input {
  font-size: 0.75rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border-radius: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
.root .content .hero-data .signup-form .submit {
  cursor: pointer;
  margin-left: -1.5rem;
  position: relative;
  border-radius: 5rem;
  background: #111;
  color: #ffe;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border: none;
  z-index: 2;
}
.root .content .hero-image {
  flex-grow: 1;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.root .content .hero-image img {
  object-fit: cover;
  border-radius: 1rem;
  max-width: 400px;
}
.root .content .owners {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  padding: 4rem 2rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.root .content .owners .title {
  width: 50%;
  text-align: center;
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  font-weight: 900;
  word-break: break-word;
}
.root .content .owners .title span {
  color: var(--blue);
  font: inherit;
}
.root .content .owners .clients {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.root .content .owners .clients img {
  filter: grayscale(1);
  border-radius: 0.5rem;
  object-fit: cover;
}
.root .content .teams {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  padding: 0 2rem;
}
.root .content .teams .small {
  font-size: 0.8rem;
}
.root .content .teams .big {
  font-size: clamp(1.25rem, 2vw, 2rem);
  font-weight: bold;
  text-align: center;
}
.root .content .teams figure {
  border-radius: 2rem;
  overflow: hidden;
  max-width: 75%;
}
.root .content .teams figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.root .content .teams .steps {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.root .content .teams .steps .step {
  position: relative;
  display: flex;
  gap: 1rem;
  min-width: 250px;
  flex: 1;
}
.root .content .teams .steps .step:before {
  content: "";
  position: relative;
  left: 1.75rem;
  top: 0;
  border-left: 1px solid;
}
.root .content .teams .steps .step .num {
  position: relative;
}
.root .content .teams .steps .step .num span {
  width: 0.7rem;
  height: 0.7rem;
  padding: 0.7rem;
  border-radius: 50%;
  background: var(--blue);
  color: #ffe;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}
.root .content .teams .steps .step .data .title {
  flex-shrink: 10;
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}
.root .content .teams .steps .step .data .description {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  line-height: 1.5rem;
}
.root footer {
  grid-area: footer;
  padding: 3rem 2rem;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.root footer .brand {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}
.root footer .brand figure {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
}
.root footer .brand figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.root footer .links-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.root footer .links-wrapper .links {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  flex: 1 1;
}
.root footer .links-wrapper .links .title {
  font-weight: bold;
}
.root footer .links-wrapper .links .link {
  text-decoration: none;
  font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
  .root header {
    position: sticky;
    width: 100%;
    top: 0;
    background: Canvas;
    z-index: 10;
  }
  .root header nav .burger-btn {
    display: block;
    z-index: 100000;
  }
  .root header nav .menu {
    display: none;
  }
  .root header nav .menu.active {
    display: flex;
    animation: fade-in 0.3s ease;
    position: fixed;
    z-index: 100;
    padding: 1rem;
    top: 0;
    right: 0;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .root header nav .menu.active.fade-out {
    animation: fade-out 0.3s ease;
  }
  .root header nav .menu.active .options {
    flex-direction: column;
    width: 100%;
    gap: 0;
    height: min-content;
    border-radius: 1rem;
    background: Canvas;
    margin: 3rem 0;
  }
  .root header nav .menu.active .options .signup {
    font-size: 0.85rem;
    border-radius: 0;
    background: none;
    color: CanvasText;
  }
  .root header nav .menu.active .options .option {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
  }
  .root header nav .menu.active .options .option:last-child {
    border: none;
  }
  .root .content .hero {
    flex-flow: column;
    align-content: center;
  }
  .root .content .hero-image {
    display: flex;
    align-items: center;
  }
  .root .content .hero-image img {
    max-width: 90%;
  }
  .root .content .owners .title {
    width: auto;
  }
  .root footer {
    flex-flow: column;
    gap: 2rem;
  }
  .root footer .links-wrapper {
    flex-flow: column;
  }
}
@keyframes fade-in {
  from {
    right: -100%;
  }
}
@keyframes fade-out {
  to {
    right: -100%;
  }
}
.burger-btn {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  background: none;
  border: none;
}

.burger-btn > .motion {
  tranfsorm: rotate(0deg);
  transition: all 0.3s ease;
}

/* Lines */
.burger-btn span {
  display: block;
  height: 3px;
  margin-bottom: 3px;
}

.burger-btn span.visual {
  background-color: CanvasText;
}

.burger-btn span.motion {
  transform: rotate(0deg);
  transition: all 0.2s ease-in-out;
  transition-delay: 0.2s;
}

.burger-btn span.size-s.motion {
  transform: translateY(0) scale(1);
}

/* Set different line width */
.burger-btn span.size-s {
  width: 50%;
}

.burger-btn span.size-l {
  width: 100%;
}

.burger-btn span.size-m {
  width: 68%;
}

/*------ Hover animation ------*/
.burger-btn.active > .motion {
  transform: rotate(90deg);
}

.burger-btn.active span.visual {
  background: white;
}

.burger-btn.active span.size-s {
  transform: translateY(18px) scale(0);
}

.burger-btn.active span.size-l {
  transform: translateY(0) rotate(45deg);
}

.burger-btn.active span.size-m {
  transform: translateY(-7px) rotate(-45deg);
  width: 100%;
}